# Node modules - we install fresh inside the container
node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment files (optional for security, if you inject via Docker Compose)
.env

# Git
.git
.gitignore

# Docker-related
Dockerfile
docker-compose.yml

# OS / Editor specific
.DS_Store
Thumbs.db
.vscode
.idea
